#home_main {
  min-width: 100%;
  max-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(2, 0, 36, 1);
}

.home_header {
  width: 100%;
  color: hsl(0, 0%, 100%);
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;  
}

.home_header button {
  background: transparent;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 1rem;
}

.home_header button:hover {
  text-decoration: underline;
}

.home_header h1,
.home_content h2 {
  font-size: clamp(1rem, 2.2161vw + 0.338rem, 2rem);
}

.home_content {
  color: hsl(0, 0%, 100%);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.message_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.message_wrapper ul {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.message_wrapper form {
  display: flex;
  flex-shrink: 0;
}

.message_wrapper ul li {
  margin-top: 0.8rem;
  background-color: rgba(0, 212, 255, 0.4);
  color: hsl(0, 0%, 100%);
  padding: 0.8rem;
  border-radius: 0.4rem 0.4rem 0 0.4rem;
  width: fit-content;
}

.message_wrapper ul li:last-child {
  margin-bottom: 0.8rem;
}

.message_wrapper form input,
.message_wrapper form button {
  border: none;
  padding: 1rem 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}

.message_wrapper form input {
  width: calc(100% - 8rem);
  border-radius: 0.4rem 0 0 0.4rem;
  outline: none;
}

.message_wrapper form button {
  width: 8rem;
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: rgba(0, 212, 255, 0.4);
  color: hsl(0, 0%, 100%);
  transition: 0.4s ease background-color;
}

.message_wrapper form button:hover {
  background-color: rgba(0, 212, 255, 0.8);
}
