#login_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_container {
  width: 32rem;
  height: fit-content;
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0px 10px 15px 5px hsl(0, 0%, 0%, 0.2);
  border-radius: 0.6rem;
  padding: 4rem 2rem;
  color: hsl(0, 0%, 100%);
}

.login_container h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.login_container form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.email_wrapper,
.password_wrapper {
  display: flex;
  flex-direction: column;
}

.login_container form input,
.login_container form button {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1rem;
}

.login_container form button {
  transition: 0.4s ease opacity;
}

.login_container form button:hover {
  opacity: 0.8;
}

.login_container .divider {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.line {
  height: 1px;
  flex-grow: 1;
  background-color: hsl(0, 0%, 100%);
}

.login_info {
  text-align: center;
}

.login_info button {
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 100%);
  text-decoration: undwerline;
  font-size: 1rem;
  cursor: pointer;
}
